/* General */

body {
	margin: 0;
	background-color: #f6f0e0;
	overflow-x: hidden;
	z-index: -999;
}

main,
.spacer {
	min-height: 320vh;
}

/* Sections */

.section-1 {
	margin-bottom: 1.75em;
}

.section-2 {
	margin-bottom: 16em;
}

/* Typography */

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
	margin-bottom: 0.75em;
	color: #842338;
}

p {
	font-family: "Libre Franklin", "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	line-height: 1.1625;
}

/* Layout */

.content {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.inner-content {
	position: absolute;
	display: block;
	height: auto;
	width: 100%;
	margin: 100vh auto 0;
	padding-bottom: 6em;
}

.inner-content.scroll {
	padding-top: 0;
}

.headline-container {
	padding: 0 5px 0 5px;
}

.headline {
	display: block;
	text-align: center;
	font-size: 1.0125em;
	font-weight: 300;
	margin: 80vh auto 0 auto;
	padding-top: 15px;
	width: 100%;
	max-width: 42em;
}

/* Line Art SVG */

.line-container {
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 1920px;
	height: 1080px;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
	z-index: 500;
	display: none;
	visibility: hidden;
}

svg {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.st00 {
	fill: none;
	stroke: #fff;
	stroke-miterlimit: 10;
	stroke-width: .75px;
}

/* SVG Timeline */

.date {
	font-family: PlayfairDisplay-Bold, "Playfair Display";
	font-size: 45px;
	font-weight: 700;
	opacity: 0;
}

.event {
	font-family: PlayfairDisplay-Regular, "Playfair Display";
	font-size: 43px;
	opacity: 0;
}

.date,
.event,
.description {
	fill: #842338;
}

.description {
	font-family: LibreFranklin-Light, "Libre Franklin";
	font-size: 38.05px;
	font-weight: 300;
	opacity: 0;
}

/* .theLine {
	fill: #ce882c;
} */

.ball {
	fill: #a21e34;
	opacity: 0;
}

.mainball {
	fill: #481e00;
}

/* Scroll Down */

.watercolour-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
	z-index: 150;
}

.scroll-down {
  position: fixed;  /* or relative to your container */
  left: 50%;
	bottom: 3em;
  transform: rotate(-45deg);
  width: 3em;
  height: 3em;
	z-index: 200;
}

.scroll-down img {
  display: block;
  animation: pulse 1s infinite;
}

canvas.canvas {
	position: fixed;
	display: block;
	top: 50%;
  left: 50%;
	height: 87.31vh;
	margin: 0 auto;
  transform: translate(-50%, -50%);
	z-index: 100;
}

canvas.canvas.scroll {
	position: static;
	display: block;
	margin: 3em auto 0;
	transform: none;
}

@keyframes pulse {
  0% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0.7;
  }
  50% {
    transform: rotate(45deg) translate(0, 10px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0.7;
  }
}

@media (min-width: 528px) {

	div.headline-container {
		padding: 0 15px 0 15px;
	}

}

@media (min-width: 768px) {

	section {
		display: flex;
		visibility: visible;
	}

	.headline {
		margin: 9em auto 0 auto;
	}

}

@media (min-width: 992px) {

	section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		width: 20em;
		margin: 0 25% 0 auto;
	}

}

@media (min-width: 1200px) {

	/* main {
		transform: translateX(10px);
		margin: 0 25% 0 auto;
	} */

	section {
		height: 70vh;
		margin: 1.75em 0 0 75%;
		justify-content: center;
	}

	.section-1,
	.section-2,
	.section-3 {
		position: static;
	}

	.headline {
		margin: 0 auto;
	}
}

@media (min-width: 1922px) {

	/* body {
		height: 280vh;
		padding-top: 4em;
	} */

	section {
		height: 100vh;
	}

	.line-container {
		/* display: block;
		visibility: visible; */
}
}
